body{
    background-color: darksalmon;
}
.fig{
    text-align: center;
}
table, td, th{
    border: 2px solid darkblue;
    border-collapse:collapse;
    text-align: center;
}
table{
    border-collapse:collapse;
    width: 66%;
    margin: auto;
}
dt, caption{
    font-weight: bold;
}
th{
    color:rgb(122, 0, 0);
}
dt {
    color:darkred;
    font-weight: bold;
}
td,th {
    padding:  5px;
}
h1{
    text-align: center;
}